@import '../theme';

.movie{
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    color: white;
    background-color: $card-blackground;
    border-radius: 10px;
    padding: 10px;
    transition: all .3s;
    box-shadow: 1px 0px 10px $purple;

    &:hover{
        margin-top: -30px;
    }

    &-imagen{
        border-radius: 10px;
        cursor:pointer;
    }

}