@import 'theme';

.body {
    background-color: $background-color;
    font-family: $font;
    width: auto;
    color: white;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}