.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'montserrat';
    gap: 15px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.movies{
    list-style:none;
    margin: 10px;
    padding: 0;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 32px;
}


.movie{
    
    text-align: center;
}


.movie h3, .movie p {
    margin: 0;
}
.movie img{
    width: 100%;
    border-radius: 8px;
    margin-top: 16px;
}

.movie img:hover{
    cursor: pointer;
}

input {
    color: #1d1d1d;
    background-color: #efefef;
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
}

input:focus {
    box-shadow: 0 0 0 2px #0096bfab;
    }

button{
    color: #1d1d1d;
    background-color: #d0cfcf;
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
}

button:hover{
    cursor: pointer;
    background-color: #87898aab;
}

button:focus {
    box-shadow: 0 0 0 2px #0096bfab;
  }

  button:active {
    transform: translateY(2px);
  }

.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.textarea{
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
}

.textarea:focus {
    box-shadow: 0 0 0 2px #0096bfab;
}

a {
    background-color: #0096bfab;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    background-color: #00aaffab;
    color: inherit;
}

a:focus {
    box-shadow: 0 0 0 2px #0096bfab;
  }

a:active {
transform: translateY(2px);
}
